.bannerContainer{
    display: flex;
    gap: 20px;
}
.banner_overlay{
    position: absolute;
    width: 100%;
    /* position: absolute; */
    /* background: darkcyan; */
    height: -webkit-fill-available;
    background-image: url(https://image.tmdb.org/t/p/original/nTPFkLUARmo1bYHfkfdNpRKgEOs.jpg);
    background-size: cover;
    z-index: -1;
    opacity: .3;
    top: 0px;
    background-position: center;
}
.banner_right{
    width: 100%;
}
.contentWrap{
    padding: 0px 20px;
    margin-top: 100px;
    margin-bottom: 100px
}
.banner_left{
    box-shadow: 1px 1px 10px black;
    width: fit-content;
}
.banner_left>img{
    object-fit: cover;
    height: 500px;
}
.banner_left>img:hover{
    object-fit: cover;
    
}
.banner_Name{
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    font-weight: 100;
    font-size: 30px;
}
.bannerName>h3{
    font-size: 40px;
    color: aquamarine;
    font-family: system-ui;
    font-weight: 400;
}
.bannerName>h3>span{
    color: bisque;
    font-weight: 100;
    font-size: 26px;
    font-size: small;
}
.tagline{
    font-size: 15px;
    margin-top: 5px;
    color: #db6868;
    font-family: sans-serif;
}
.genreBox{
    display: flex;
    gap: 10px;
    margin-top: 5px;
}
.genreBox>span{
    font-size: 12px;
    font-family: system-ui;
    background: red;
    border-radius: 20px;
    padding: 0px 5px;
    color: black;
    font-weight: 500;
}
.bannerIcons{
    margin-top: 20px;
    display: flex;
    gap: 30px;
}
.bannerRating{
    height: 50px;
    width: 50px;
    background: rgb(89, 177, 89);
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    
    font-family: sans-serif;
}
.play_button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: slateblue;
    position: relative;
  color: white;
  border: white;
    transition: all.3s ease-in;
}
.play_button>p{
    position: absolute;
    left: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transform-style: flat;
    opacity: 0;
    transition: all .3s ease-in-out;
  
}
.play_{
  height: 100%;
  margin-left: 5px;
}
.play_button:hover{
    background-color: slateblue;
    color: white;
    border: white;
}
.play_button:hover>p{
    opacity: 1;
}

.overview{
    color: white;
    margin-top: 10px;
    font-family: system-ui;

}
.status{
    padding-top: 10px;
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-top: 10px;
    color: black;
    font-weight: 100;
    color: skyblue;
    font-family: system-ui;
    display: flex;
    gap: 10px;
}
.created_by{
    display: flex;
    margin-top: 10px;
    padding-top: 10px;
    display: flex;
    gap: 10px;
    color: skyblue;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    font-weight: 100;
    font-family: system-ui;
}
.overview_title{
    margin-top: 30px;
    font-family: system-ui;
    font-weight: 400;
    color: white;
}
.player{
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: end;
    position: absolute;
    width: 640px;
}
@media only screen and (max-width:700px) {
    .bannerContainer{
        flex-direction: column;
    }
    .banner_left{
        align-self: center;
    }
    .banner_left>img{
        width: 100%;
    }
    .banner_right{
        margin-top: 70px;
    }
    .contentWrap{
        margin-bottom: 0px
    }
    .player{
        width: max-content;
    }
}
@media only screen and (max-width:400px) {
    .banner_left>img{
     height: auto;
    }
}