.heroBackground{
    background-position: 50% 25%;
    background-size: cover;
    position: relative;
    width: 100%!important;
    overflow: hidden;
    height: 400px;
    display: flex;
    align-items: normal;
    justify-content: center;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.heroContainer{
    min-height: 200px;
}
.heroSearch{
    padding: 10px;
    gap: 10px;
    text-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;

}
.heroSearch>h1{
    font-size: 52px;
     background: -webkit-linear-gradient(#eee, #db0808);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
}
.heroSearch>form{
    gap: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
}
.heroInputBox{
    background: linear-gradient(#eee, #db0808);
    padding-left: 5px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;
    border-radius: 50px;

}
.heroInputBox>input{
    background: transparent;
    color: rgb(7, 6, 6);
    width: 100%;
    border: none;
    border-radius: 50px;
    font-size: 17px;
    padding: 7px;
}
.heroSearch>form>button{
    border-radius: 50%;
   
    border: none;
    height: 50px;
    width: 50px;
    background: linear-gradient(#eee, #db0808);

}
.heroSearch>form>button:hover{
    background:  linear-gradient(#3e3333, #756e6e);;
}
.heroInputBox>input:focus{
    outline: none;
}
@media only screen and (max-width:500px){
    .heroBackground{
        height: 300px;
    }
    .heroSearch>h1{
        font-size: 30px;
    }
}