.display_container{
    align-items: center;
    margin-top: 30px;
    justify-content: space-evenly;
    min-height: 700px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    display: grid;
}