.card_image{
     width: 170px;
     height: 250px;
   background-size: cover;
   transition: all 1s ease-in-out;
    background-position: center;
}
.cardContainer{
    justify-self: center;
    align-self: center;
    margin-bottom: 20px;
}
.genre{
    display: grid;
    gap: 5px;
}
.genre>span{
    background: red;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: min-content;
    font-family: auto;
    color: white;
    justify-self: right;
    height: min-content;
    text-wrap: nowrap;
}

.card_about{
    max-width: 170px;
    display: flex;
    background: #700000;
    justify-content: space-between;
    position: relative;
    height: 55px;
   
}
.card_div>h4{
    font-family: sans-serif;
    font-weight: 100;
    color: white;
    text-wrap: wrap;
}
.card_div{
   width: fit-content;
   font-family: sans-serif;
   display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px;
   
}
.rating{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #a1380a;
    color: white;
    margin: 2px;
    position: absolute;
    right: 0px;
}
.card_div>p{
color: antiquewhite;
}
.play{
    color: red;
    height: 50px;
    width: 50px;
    background: black;
    border-radius: 50%;
    border: none;
    }
 .play_overlay{
    display: flex;
    align-items: center;
    justify-content: center;
   opacity: 0;
    height: 250px;
    position: absolute;
    width: 170px;
    background: #f4f4e5;
    transition: all .2s ease-in;
   
    }
    .play_overlay:hover{
        opacity: .5;
    }
    .card_image:hover{
        background-size: 120%;  
    }
    .play_overlay:hover>.play{
          animation: scale  .3s ease-in ;
        
    }
    @keyframes scale {
        0%{
            opacity: 0;
            transform: scale(1.2);
            transform: rotate(0deg);
        }
        100%{
            transform: scale(1);
            transform: rotate(360deg);
        }
    }
    @media only screen and (max-width:425px){
        .card_image{
            width: 150px;
            height: 230px;
        }
        .card_about{
            width: 150px;
        }
      }